body {
    margin: 20px;
    background-color: black;
    color: white
}

#generate-header {
    color: white;
}

#password-header {
    color: rgb(36, 320, 36);
}

h4 { 
    color: white;
}

button {
    background-color: green;
    color: white;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 20px
}

div { 
 margin: 10px;
}
